<html>
<head>
    <title>Still a very simple SPA in Vue</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="Itemlist">
    <button v-on:click="which_selected='courses'">courses</button>
    <button v-on:click="which_selected='sections'">sections</button>
    <button v-on:click="which_selected='students'">students</button>
    <ul>
     <span v-if="which_selected==='courses'">
        <table id="courseTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Credits</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="course in courses">
                <td>{{course.name}}</td>
                <td>{{course.credits}}</td>
            </tr>
            </tbody>
        </table>
        </span>
        <span v-else-if="which_selected==='sections'">
            <table id="sectionTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Semester</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="section in sections">
                <td>{{courses[section.course_id - 1].name}}</td>
                <td>{{section.number}}</td>
                <td>{{section.semester}}</td>
            </tr>
            </tbody>
        </table>
        </span>
        <span v-else-if="which_selected==='students'">
            <table id="studentTable">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="student in students">
                <td>{{student.name}}</td>
            </tr>
            </tbody>
        </table>
        </span>
        <span v-else=>
            <p>Welcome</p>
        </span>
    </ul>
</div>

<script type="text/javascript">
    var ItemsVue = new Vue({
        el: '#Itemlist',
        data: { courses: [], sections: [], students: [], which_selected:'' },
        mounted: function() {
            axios.get('http://localhost:3000/students.json')
                .then(response => { this.students = response.data })
                .catch(error => { console.log(error); });
            axios.get('http://localhost:3000/courses.json')
                .then(response => { this.courses = response.data })
                .catch(error => { console.log(error); });
            axios.get('http://localhost:3000/sections.json')
                .then(response => { this.sections = response.data })
                .catch(error => { console.log(error); });
        }
    });
</script>

</body>
</html>