<html>
<head>
    <title>A very simple SPA in Vue and Axios</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="Itemlist">
    <button v-on:click="students_selected=false">courses</button>
    <button v-on:click="students_selected=true">students</button>
    <ul>
    <span v-if="students_selected">
        <p>Students</p>
        <div v-for="student in students">
            <li>{{student.name}}</li>
        </div>
    </span>
        <span v-else>
        <!--<div v-for="course in courses">
            <li>{{advisor.name}}</li>
            <div v-for="student in students">
                <span v-if="student.advisor_id === advisor.id">
                    {{ student.name }}
                </span>
            </div>
            -->
            <table id="courseTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Credits</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="course in courses">
                <td>{{course.name}}</td>
                <td>{{course.credits}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </span>
    </ul>
</div>

<script type="text/javascript">
    var ItemsVue = new Vue({
        el: '#Itemlist',
        data: { students: [],
            students_selected: true,
            courses: [] },
        mounted: function() {
            axios.get('http://localhost:3000/students.json')
                .then(response => { this.students = response.data })
                .catch(error => { console.log(error); });
            axios.get('http://localhost:3000/courses.json')
                .then(response => { this.courses = response.data })
                .catch(error => { console.log(error); });
        }
    });
</script>

</body>
</html>